---
layout: cv
title: CV of The Thabang Thamane
---
.CV
  .CV__Header
    CV of Thabang Thamane

  .CV__Section.CV__Summary
    Summary
  .CV__Section.CV__Handles
    Handles
  .CV__Section.CV__Personal_Details
    Personal details
  .CV_Section.CV__Skills
    Skills
  .CV__Section.CV__Strengths
    Strengths
  .CV__Section.CV__Weakness
    Weakness
  .CV__Section.CV__Technical_Skills
    Technical Skill
  .CV__Section.CV__Work_Experience
    Work Experience
  .CV__Section.CV__Personal_Projects
    Personal Projects
  .CV__Section.CV__References
    References
