---
layout: cv
title: CV of The Thabang Thamane
--- 
.cv
  .column
    .section.section--flat
      .section-content
        .cv__imageHolder
          %img.cv__image.image.image--centered.image--round{src: "/images/Thabang-Thamane.JPG", alt: "Picture of Thabang Thamane"}

    .section.section--flat.handle
      .section__title
        Handles
      .section__content
        %a.handle{href: 'https://twitter.com/tithamane', target: '_blank'}
          twitter
        %a.handle{href: 'https://github.com/tithamane', target: '_blank'}
          github
        %a.handle{href: 'http://stackoverflow.com/users/2090926/touch', target: '_blank'}
          stackoverflow
        .clear-fix

    .section.summary
      .section__title
        Summary
      .section__content
        %p.summary__paragraph
          I've been working for 6 months but I actually bring 6 years worth of web knowledge to the table which is something I have to take into consideration on my next offer. 
          I add just as much if not more value than developers that
          have been in the industry for that long. I say this based on the solutions I have seen most of them come up with. 

        %p.summary__paragraph
          The systems I try to build in my spare time for my future company are meant to be
          %ul.summary__list
            %li.summary__list_item
              cost effective
            %li.summary__list_item
              easy to maintain
            %li.summary__list_item
              easy to pass on to other developers with little explanation
            %li.summary__list_item
              scalable if ever needed
            %li.summary__list_item
              efficient enought to boost user experience

        %p.summary__paragraph
          I would also like to see myself reach the highest levels a within the next five to ten years and would be happy to discuss the levels I have reached so far.
          %a.cv__external_link{href: "http://sijinjoseph.com/programmer-competency-matrix/", target: "_blank"}
            (Different programmer levels)

        %p.summary__paragraph
          Passionate about web development and spent the last 6 years learning as much as I can. I like to watch conference videos posted by the likes of Google, AirBnB, Twitter, Facebook, LinkedIn and many software engineering companies. I also like to read their articles and the challenges they face and how they solve them. I am reading a few books on how to write cleaner maintanable code which has nothing to do with syntax.

        %p.summary__paragraph
          I like solving backend problems using Ruby, PHP and Nodejs but don't really care too much about what I use. Being into ruby, it's only natural that I use Mac, Tmux, Vim and Linux for deployment. I know how to automate things using both Ruby and Nodejs and know my way around Gulp and Webpack. I am an introvert but that changes when talking about web development in general.

  .column
    .column__title
      About
    .column__underline
    .section.section--flat.interests
      .section__title
        Interests
      .section__content
        {% for interest in site.data.interests %}
        .interests__interest
          {{ interest }}
        {% endfor %}
        .clear-fix

    .section.personal
      .section__title
        Personal details
      .section__content
        .cv__subtitle
          .cv__subtitle_key
            Names
          .cv__subtitle_value
            Thabang Irvin
          .clear-fix
        .cv__subtitle
          .cv__subtitle_key
            Surname
          .cv__subtitle_value
            Thamane
          .clear-fix
        .cv__subtitle
          .cv__subtitle_key
            Address
          .cv__subtitle_value
            .address
              -# .address__street
              -#   9 Richard Road
              .address__suburb
                Fourways
              .address__city
                Johannesburg
              .address__postal_code
                2191
          .clear-fix
        .cv__subtitle
          .cv__subtitle_key
            Gender
          .cv__subtitle_value
            Male
          .clear-fix
        .cv__subtitle
          .cv__subtitle_key
            Nationality
          .cv__subtitle_value
            South African
          .clear-fix
        .cv__subtitle
          .cv__subtitle_key
            Email
          .cv__subtitle_value
            .cv__contact
              %span.cv__email
              %span
                \.biz@gmail.com
          .clear-fix
        .cv__subtitle
          .cv__subtitle_key
            Work Language
          .cv__subtitle_value
            English
          .clear-fix
        .cv__subtitle
          .cv__subtitle_key
            Other Languages
          .cv__subtitle_value
            Sepedi, Ndebele, Afrikaans
          .clear-fix
        .cv__subtitle
          .cv__subtitle_key
            License
          .cv__subtitle_value
            Code 10
          .clear-fix
        .clear-fix
    .section.education
      .section__title
        Basic Education
      .section__content
        .cv__subtitle
          .cv__subtitle_key
            School
          .cv__subtitle_value 
            Hans Merensky High School
          .clear-fix
          %ul.cv__school_subject_list
            %li.cv_school_subject
              English First Language
            %li.cv_school_subject
              Afrikaans First Additional Language
            %li.cv_school_subject
              Life Orientation
            %li.cv_school_subject
              Mathematics
            %li.cv_school_subject
              Physical Science
            %li.cv_school_subject
              Engineering Graphics and Design
            %li.cv_school_subject
              Civil Technology
            %li.cv_school_subject
              Information Technology
          .cv__subtitle_key
            Year
          .cv__subtitle_value
            2010
          .clear-fix
        .clear-fix

    .section.varsity
      .section__title
        Higher Education
      .section__content
        .cv__subtitle
          .cv__subtitle_key
            Institution
          .cv__subtitle_value
            University of Pretoria
          .clear-fix
        .cv__subtitle
          .cv__subtitle_key
            Course
          .cv__subtitle_value
            BIS Multimedia
          .clear-fix
        .cv__subtitle
          .cv__subtitle_key
            Year
          .cv__subtitle_value
            2011 - (2 courses left to complete)
          .clear-fix

  .column
    .column__title
      Skills
    .column__underline
    .section.skills
      .section__title
        Skills
      .section__content
        %ul.skill__list
          {% for skill in site.data.skills %}
          %li.skill
            {{ skill }}
          {% endfor %}

    .section.strength
      .section__title
        Strengths
      .section__content
        %ul.strength__list
          {% for strength in site.data.strengths %}
          %li.strength
            {{ strength }}
          {% endfor %}

    .section.weakness
      .section__title
        Weakness
      .section__content
        %ul.weakness_list
          {% for weakness in site.data.weaknesses %}
          %li.weakness
            {{ weakness }}
          {% endfor %}

    .section.technical_skills
      .section__title
        Technical Skill (Most Important)
      %table.technical_skills__table
        %th.technical_skills__header
          Skill
        %th.technical_skills__header
          Level
        %th.technical_skills__header{title: "Personal Technical Experience (How long I've been using this skill)"}
          Personal Exp.
        %th.technical_skills__header
          Last Used

        {% for technical_skill in site.data.technical_skills %}
        %tr.technical_skills__skill
          %td.technical_skills__group
            {{ technical_skill.group }}
          %td.technical_skills__level
            {{ technical_skill.level }}
          %td.technical_skills__experience
            {{ technical_skill.experience }}
          %td.technical_skills__last_used
            {{ technical_skill.last_used }}
        {% endfor %}

  .column
    .column__title
      Work
    .column__underline
    .section.work__experience
      .section__title
        Work Experience
      .section__content.section__content--no-margin
        .work
          .work__place
            .work__name
              Gloo@Ogilvy
            .duration
              .duration__start
                .duration__month
                  March
                .duration__year
                  2016
                .clear-fix
              .duration__to
                &#x2192;
              .duration__end
                .duration__month
                  June
                .duration__year
                  2016
                .clear-fix
              .clear-fix
            .work__address
              .address
                .address__physical
                  15 Sloane Street
                .address__suburb
                  Bryanston
                .address__city
                  Johanneburg
          .work__description
            .work__role
              Freelance Junior Developer
            .work__duties
              %ul
                %li
                  Design changes to WordPress sites
                %li
                  Using some of google's APIs like analytics and maps in sites
                %li
                  Basics QA testing
                %li
                  Working on responsive designs
                %li
                  Deploying a lot of stuff I worked on
                %li
                  Using Git as version control
                %li
                  Doing my timesheets
          .work__opinion
            I feel I was under-utilized and didn't get the chance I would have liked. In short I am glad to have moved on and looking back
            I doubt I would have learned much in the long run if I had continued to do the most basic things.

        .work.work--top-border
          .work__place
            .work__name
              WinWin Consulting International
            .duration
              .duration__start
                .duration__month
                  July
                .duration__year
                  2016
                .clear-fix
              .duration__to
                &#x2192;
              .duration__end
                .duration__present
                  Present
                .clear-fix
              .clear-fix
            .work__address
              .address
                .address__complex
                  1<sup>st</sup> Floor, North Building
                .address__physical
                  63 Saint James Crescent
                .address__suburb
                  Bryanston
                .address__city
                  Johanneburg
          .work__description
            .work__role
              Junior Developer
            .work__duties
              %ul
                %li
                  Main guy in charge of writing all the backend APIs using Ruby and NodeJS
                %li
                  Maintaining legacy PHP code
                %li
                  Writing code for background jobs used for long tasks like importing files that need to be processed first
                %li
                  Writing scripts that help speed up task that would take too much time when done manually
                %li
                  Writing frontend coding using angularjs
                %li
                  Responsible for solving the more complex problems (back and frontend)
          -# .work__opinion
          -#   They trusted me and I showed them what I can do. As far as things go, I feel I shattered their gantt charts and increased productivity.
          -#   Being here allowed me to see that I am called a "junior" yet I am doing this that even intermediates struggle to get done. I got a chance to 
          -#   compare myself with other developers from different companies and I realised that I am way ahead of what my title makes me.
          .work__opinion
            It is still a work in progress but I have been trusted enough to write code for things that are out of the scope of a junior.
            I make this assumption based on junior developer tests I've seen which basically test if the person knows the difference 
            between a server and the client. I've always known I can build an entire system on my own but I just had to do it in the industry
            which I did.

    -# .CV__Section.CV__Personal_Projects
    -#   .CV__Section_Title
    -#     Personal Projects
    .section.references
      .section__title
        References
      .reference
        .reference__name
          Chris Mallis
        .reference__position
          Senior Frontend Developer

      .reference.reference--top-border
        .reference__name
          Nosi Ncala
        .reference__position
          Junior Developer
  .clear-fix
