@import 'colors';
@import 'variables';

* {
  box-sizing: border-box;
}

html,
body {
  font: {
    // family: arial,sans-serif-light,sans-serif;
    size: 16px;
  }
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.clear-fix {
  clear: both;
}

a {
  color: $md-accent-color;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

@import 'cv';
@import 'list';
@import 'column';
@import 'section';
@import 'image';
@import 'work';
@import 'duration';
@import 'address';
@import 'technical_skills';
