.section {
  border: solid 2px $md-primary-color;

  margin: .5rem 0;
  overflow-x: auto;
  position: relative;
  // padding: 0.5rem;

  &--flat {
    border: 0;
  }

  &__title {
    background-color: $md-primary-color;
    color: $white-color;
    font: {
      size: $section-title-font-size;
    }
    height: $section-title-height;
    line-height: $section-title-height;
    text-align: center;
    width: 100%;
  }

  &__content {
    margin: $section-content-margin;

    &--no-margin {
      margin: 0;
    }
  }
}
