.work {
  &--top-border {
    border: {
      style: dashed;
      width: 1px;
      color: $md-primary-color transparent transparent transparent;
    }
  }

  padding: 1rem;

  &__name {
    font: {
      size: 1.1rem;
      weight: 700;
    }

  }

  &__role {
    font-weight: bold;
    margin: .4rem 0;
  }

  &__duties {
    margin: .35rem 0;
  }

  &__address {
    background-color: $md-secondary-color;
    border: 1px dashed $md-primary-color;
    font-family: arial;
    // height: .75rem;
    margin: .4rem 0;
    padding: .4rem;
    padding-left: 15%;

    .address {
      color: $white-color;
      // display: none;
    }


    // &:hover {
    //   height: auto;
    //
    //   .address {
    //     display: inline-block;
    //   }
    // }
  }

}
